*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(60, 95, 235, 0.7),rgba(10, 32, 129, 0.07)),url();
}
nav{
    display: flex;
    padding: 0px 6%;
    justify-content: space-between ;
    align-items: center;
}
nav img{
    width: 40px;
    padding: 8px 5px;
}

.logo
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h1{
    margin: 0;
}
nav h1{
    color: #fff;
    padding: 1px 5px;
    text-align: left;

}
.nav-links{
    flex:1 ;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 5px;
    position: relative;
}
.nav-links ul li a{
color: #fff;
text-decoration: none;
font-size: 9px;
}
.nav-links ul li::after{
    content: '';
    width: 0px;
    height: 2px;
    background: #f44336;
    display: block;
    margin-inline-start: auto;
}
.nav-links ul li:hover:after{
    width: 100%;
}
.box-main{
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin-top: 20px;
    margin-left: 60px;

}
.firsthalf{
    display: flex;
    justify-content: space-between;
}
.box-main p{
display: flex;
color: #fff;
padding: 1px;
font-size: 10px;
}
.background-image{
    width: 200px;
  padding-bottom: 100px;
}
.text h1{
    color: #fff;
    padding-left: 60px;
    padding-top: 90px;
}


.About{
background-color: rgba(217, 219, 230, 0.7);
}
.about {
    color: rgb(70, 66, 66);
padding-left: 43%;
padding-top: 30px;
font-size: small;
}
.paragraph
{
color: rgb(59, 59, 62);
padding-left: 209px;
font-size: small;
}
.key{
    color: rgb(70, 66, 66);
    padding-left: 40%;
    padding-top: 30px;
    font-size: small;
}
.th{
    color: rgb(70, 66, 66);
    padding-left: 43%;
    font-size: 8px;
    
}
footer {
    display: flex;
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
}